<% if obj != nil && obj.count > 0 %>
  <ul>
      <li class="title">
        <font color="#191970"><label class="label_class">リソース名:</label></font>
        <%= obj["word"] %>
      </li>
      <% if obj["path"].end_with? ".png", ".jpg", ".jpeg" %>
        <li class="info"><font color="#191970"><label class="label_class">パス:</label></font>
          <%= link_to ({:controller => 'trietree', :action => 'download', :filetype => "resource", :path => obj["path"], :filename => obj["file_name"]}), { :class => "faa-parent animated-hover", :target => "_new" } do %>
            <i class="fas fa-file-download faa-bounce fa-fw"></i><%= obj["view_path"] %>
          <% end %>
        </li>
        <li class="info_img"><%= image_tag obj["path"], :class => 'img_class' %></li>
      <% else %>
      <li class="info"><font color="#191970"><label class="label_class">パス:</label></font>
        <%= link_to ({:controller => 'trietree', :action => 'download', :filetype => "resource", :path => obj["path"], :filename => obj["file_name"]}), { :class => "faa-parent animated-hover", :target => "_new" } do %>
          <i class="fas fa-file-download faa-bounce fa-fw"></i><%= obj["view_path"] %>
        <% end %>
        <li class="info_img"><%= image_tag '/ui_dummy.png', :class => 'img_class' %></li>
      </li>
      <% end %>
  </ul>
<% else %>
  <ul>
    <li class="title">
      <font color="#191970"><label class="label_class">(´・ω・)</label></font>
        <i></i>検索キーワード　=　【<%= @request_keyword %>】
    </li>
  </ul>
<% end %>
