<script type="text/javascript">
  $(document).ready(function() {
    $('.pager_link').click(function(event){
        prepare_load_func();
        display_load_func();
      	var target = $(event.target);
        const page_number = target[0].attributes[1].value
        $('#page').val(page_number);
        $('body, html').animate({ scrollTop: 340 }, 50);
        Rails.fire($("#form1_id")[0], "submit");
    });
  });
</script>
<% if @current_page != nil %>
  <% if @current_page != nil && @max_page != nil%>
  <% @view_min = [1, @current_page - 4].max %>
  <% @view_max = [@max_page, @current_page + 4].min %>
    <div id="global">
      <ul class="pageNav01">
        <% (@view_min..@view_max).each do |page_index| %>
            <% if page_index == @current_page %>
              <li><span><%= page_index %></span></li>
            <% else %>
              <li><a class="pager_link" value="<%= page_index %>"><%= page_index %></a>
                <!-- <%= form_tag({:controller => 'trietree', :action => 'near'}, name: 'form1', :remote => true, :class => 'form-ajax') do %>
                  <%= hidden_field_tag :ajax_handler, 'key_request' %>
                  <%= hidden_field_tag :page, 2 %>

                <% end %> -->
              </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
