<% if @failure_data != nil &&  @failure_data.count > 0 %>
<ul>
  <% @failure_data.each do |obj| %>
    <li class="title">
      <font color="#191970"><label class="label_class">リソース名:</label></font>
      <%= link_to ({:controller => 'trietree', :action => 'download', :filetype => "resource", :path => obj["path"], :filename => obj["word"]}), { :class => "faa-parent animated-hover link_failure", :target => "_new"} do %>
        <i class="fas fa-file-download faa-bounce fa-fw"></i><%= obj["word"] %>
      <% end %>
    </li>

    <li class="info">
      <font color="#191970"><label class="label_class">Zip名:<label></font>
        <%= link_to ({:controller => 'trietree', :action => 'download', :filetype => "zip", :path => obj["zip"], :filename => obj["zip"]}), { :class => "faa-parent animated-hover link_failure", :target => "_new"} do %>
          <i class="fas fa-file-download faa-bounce fa-fw"></i><%= obj["zip"] %>
        <% end %>
    </li>

    <% if obj["path"].end_with? ".png", ".jpg", ".jpeg" %>
      <li class="info"><font color="#191970"><label class="label_class">リソースパス:<label></font><%= '/' + obj["path"] %></li>
      <li class="info_last"><%= image_tag '/out/' + obj["path"], :class => 'img_class' %></li>
    <% else %>
      <li class="info_last"><font color="#191970"><label class="label_class">リソースパス:<label></font><%= '/' + obj["path"] %></li>
    <% end %>
  <% end %>
</ul>
<% else %>
  <ul>
    <li class="title">
      <% if (@request_keyword.length < @enable_failure_search_word_length) %>
      <font color="#191970"><label class="label_class"></label></font>
        <i></i>検索結果が多いので【<%= @enable_failure_search_word_length - 1 %>】文字以下の場合は部分文字列検索を行いません
      <% else %>
        <font color="#191970"><label class="label_class">Not Found</label></font>
          <i></i>【<%= @request_keyword %>】に該当するリソースは見つかりませんでした
      <% end %>
    </li>
  </ul>
<% end %>
