<h3>本番リソース検索</h3>
<div id="description">
  <ul>
    <li>リソース名を部分一致で検索できます</li>
    <li>hogehogehoge</li>
    <li><i class="fas fa-file-download faa-bounce animated fa-fw"></i>←このアイコンがついてる画像はクリックでダウンロードできます</li>
  </ul>
</div>
<%= form_tag({:controller => 'trietree', :action => 'near'}, :id => 'form1_id', :name => 'keyword_form', :remote => true, :class => 'form-ajax', :autocomplete => "off") do -%>
<%= hidden_field_tag :ajax_handler, 'key_request' -%>
<%= hidden_field_tag :page, 1-%>
<span class="input">
    <input class="input__field input__field--minoru keyword" type="text" id="input-13" name="keyword" />
    <label class="input__label input__label--minoru" for="input-13">
        <span class="input__label-content input__label-content--minoru">Enterボタン押下で検索</span>
    </label>
</span>

<div style="margin:15px">
  <label class="search_option_label">検索・一覧表示</label>
  <div class="display:inline-block">
    <label><%= radio_button 'search_type', 'category', 'card_name', {:checked => true, :class => "select_radio_button"} %>名前検索</label>
    <label><%= radio_button 'search_type', 'category', 'all', {:class => "select_radio_button"} %>一覧表示</label>
  </div>
</div>

<% end %>

<div id="ajax-response">
<div id="ajax-response-wrapper" class="aho-contents"></div>
<div id="ajax-response-wrapper-div2" class="aho-contents"></div>
</div>
<div id="common-pager"></div>
