<!DOCTYPE html>
<html>
  <head>
    <title>リソース検索</title>
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.2.0/css/font-awesome.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/assets/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/set1.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= yield %>
    <script src="/assets/js/classie.js"></script>
    <div id="global">
      <ul class="pageNav01">
        <li><a href="1.html">&laquo; 前</a></li>
        <li><a href="1.html">1</a></li>
        <li><span>2</span></li>
        <li><a href="3.html">3</a></li>
        <li><a href="4.html">4</a></li>
        <li><a href="5.html">5</a></li>
        <li><a href="6.html">6</a></li>
        <li><a href="3.html">次 &raquo;</a></li>
      </ul>
    </div>
  </body>
</html>
