<!DOCTYPE html>
<html>
  <head>
    <title><%= $ahoCorasick.env_str %>リソース検索</title>
    <meta charset="UTF-8">
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/set1.css" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <% cache "loader", expires_in: 10.minutes, skip_digest: true do %>
      <div id="loader-bg">
        <div id="loader">
          <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
        </div>
      </div>
    <% end %>
  <div id="wrap">
    <%= yield %>
  </div>
    <script src="/assets/js/classie.js"></script>
    <!-- <script src="/assets/js/jquery.lazyload.min.js"></script> -->
    <script>
      $(function() {
        var h = $(window).height();

        $('#wrap').css('display','none');
        $('#loader-bg ,#loader').height(h).css('display','block');
      });

      $(window).load(function () { //全ての読み込みが完了したら実行
        $('#loader-bg').delay(900).fadeOut(800);
        $('#loader').delay(600).fadeOut(300);
        $('#wrap').css('display', 'block');
        window.history.pushState(get_history_obj_func(), null);
      });

      //10秒たったら強制的にロード画面を非表示
      $(function(){
        setTimeout('stopload()',10000);
      });

      function stopload(){
        $('#wrap').css('display','block');
        $('#loader-bg').delay(900).fadeOut(800);
        $('#loader').delay(600).fadeOut(300);
      }
    </script>
  </body>
</html>
